body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfab5;
    font-family: 'Open_Sans', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #4a0d0b;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
